@config "../tailwind.config.ts";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Lato:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

body {
	color: #071b20;
	font-family: "Cormorant", "Lato", sans-serif;
    font-weight: 600;
}

@layer utilities {
	.bg-watercolor {
		background-image:
			radial-gradient(circle at 15% 50%, var(--pastel-pink-rgba-60), transparent 50%),
			radial-gradient(circle at 85% 30%, var(--pastel-lime-rgba-60), transparent 50%),
			radial-gradient(circle at 70% 80%, var(--pastel-beige-rgba-60), transparent 50%),
			radial-gradient(circle at 30% 10%, var(--pastel-pink-rgba-40), transparent 60%),
			radial-gradient(circle at 90% 90%, var(--pastel-lime-rgba-40), transparent 60%);
		background-repeat: no-repeat;
		background-size: cover;
	}
}